/*#############################################################
Name: Coffee N Cream
Date: 2006-08-24
Description: A smooth coffee style template.
Author: Viktor Persson
URL: http://templates.arcsin.se

Feel free to use and modify but please provide credits.
#############################################################*/

/* standard elements */
* {
    margin: 0;
    padding: 0;
}
a {
    color: #963;
}
a:hover {
    color: #C60;
}
body {
    background: #655A46 url(../img/bg.gif);
    color: #543;
    font-size: 12px;
    font-family: "Helvetica Neue",helvetica,arial,sans-serif
}
/*input {
    color: #555;
    font: normal 100% "Helvetica Neue",helvetica,arial,sans-serif;
}*/
p, cite, code, ul {
    font-size: 1.2em;
    padding-bottom: 1.2em;
}
h1 {
    font-size: 1.4em;
    margin-bottom: 4px;
}

h1, h2, h3 {
    color: #654;
    padding-top: 6px;
}

/* misc */
.clearer {
    clear: both;
}

/* structure */
.maincontainer {
    background: url(../img/bgcontainer.gif) repeat-y;
    margin: 0 auto;
    width: 780px;
}

/* header */
#header.header {
    background: url(../img/header.jpg);
    height: 210px;
    margin: 0 auto;
    width: 760px;
}

/* title */
#header .title {
    padding: 28px;
}
#header .title h1 {
    color: #E4DBCF;
    font: bold 3.8em "Lucida Sans Unicode","Trebuchet MS",sans-serif;
}
#header .title h2 {
    color: #E4DBCF;
    font: normal "Lucida Sans Unicode","Trebuchet MS",sans-serif;
    padding-left: 15px;
}
/* navigation */
.navigation {
    background: #FFF url(../img/bgnavigation.gif) repeat-x;
    font: bold 1.2em Verdana,sans-serif;
    height: 44px;
    margin: 0 auto;
    padding: 0 18px;
    width: 725px;
}
.navigation a {
    color: #543;
    text-decoration: none;
    padding: 3px 4px;
    margin-right: 12px;
    line-height: 44px;
}
.navigation a:hover {
    background: #CEBDA1;
    color: #420;
}

/* main */
.main {
    clear: both;
    padding: 0 10px 12px 28px;
}

/* sub navigation */
.sidenav {
    float: right;
    width: 218px;
}
.sidebar h1 {
    background: #BCB39F url(../img/sidenavh1.gif) repeat-x;
    border-bottom: 1px solid #999;
    border-top: 1px solid #CCC;
    color: #4A4A44;
    font-size: 1.2em;
    height: 22px;
    margin: 0;
    padding-left: 2px;
}
.sidebar ul {
    margin: 0;
    padding: 0;
}
.sidebar li {
    border-bottom: 1px dotted #dddddd;
   /* border-top: 1px solid #DDC;*/
    list-style: none;
}
.sidebar li a {
    background: #CCC3AF;
    color: #996633;
    display: block;
    padding: 2px 4px 8px 4px;
    text-decoration: none;
}
.sidebar li a:hover {
    background: #D6CCB9;
    color: #C60;
}

/* content */
.content {
    padding-top: 12px;
    float: left;
    width: 68%;
}
.content .descr {
    color: #987E57;
    font-size: 1.1em;
    margin-bottom: 6px;
}
.content li {
    list-style: url(../img/li.gif);
    margin-left: 18px;
}

/* footer */
#footer.footer {
    background: #958463 url(../img/bgfooter.gif) repeat-x;
    color: #FED;
    font-size: 1.1em;
    line-height: 40px;
    margin: 0 auto;
    text-align: center;
    width: 760px;
}
#footer.footer a {
    color: #FFD;
    text-decoration: none;
}
#footer.footer a:hover {
    color: #FFF;
    text-decoration: underline;
}

.storyDate {
    background: #D6CCB9;
    color: #654;
    display: block;
    float: left;
    font-weight: bold;
    font-size: 170%;
    text-align: center;
    text-transform: uppercase;
    font-style: italic;
    height: 85px;
    margin: 4px 4px 4px -10px;
    padding: 5px;
    padding-bottom: 10px;
    width: 3em;
    border: 2px solid #CDB792;
}

.article {
    margin-top: 25px;
}
.storyBody {
    /* margin-left: 80px;*/
}
.articleLink {
    font-style:italic;
    border-top: 1px solid #D6CCB9;
    font-size: 125%;
    margin-bottom: 5px;
}
.articleLink a {
    text-decoration: none;
}
.rfNewsHeader {
    /*font-weight: bold;*/
}

.rfNewsBody {
    margin-left: 10px;
    margin-top: 1px;
    margin-bottom: 5px;
}

/* Tag Cloud */
a.earliest:link, a.earliest:visited, a.earliest:hover, a.earliest:active {
    color: #aaa;
}

a.earlier:link, a.earlier:visited, a.earlier:hover, a.earlier:active {
    color: #99c;
}

a.later:link, a.later:visited, a.later:hover, a.later:active {
    color: #99f;
}

a.latest:link, a.latest:visited, a.latest:hover, a.latest:active {
    color: #00f;
}
h1.sectionHeader {
    border-bottom: 2px solid #CDB792;
    font-size: 200%;
}

.softwareItemBlock {
    margin-left: 5px;
}

.softwareItemBlock h1 {
     border-bottom: 2px solid #CDB792;
    /*background: #cdb792;*/
}
.softwareItemBlock h2 {
    font-size: 1.2em;
}

#olderLink {
    float: left;
    font-size: 1.3em;
    text-decoration: none;
    font-weight: bold;
}

#newerLink {
    float: right;
    font-size: 1.3em;
    text-decoration: none;
    font-weight: bold;
}

#twitter_update_list a {
    font-style: italic;
    background: none;
    font-weight: normal;
}

#twitter_update_list li {
    padding-top: 4px;
}
